.home {
    text-align: left;
    padding: 0 0 0 0;
}

.home-title {
    font-size: 18px;
    font-weight: 400;
    color: var(--color-main-black);
    margin: 45px 0 25px 0;
}


.home-img {
    width: 100%;
    
    height: auto;
    
    max-width: 5120px;
}

@media (max-width: 480px) {
    .home {
        text-align: left;
    }
    .home-title {
        max-width: 250px;
        font-size: 32px;
    }
    .home-description {
        font-size: 14px;
    }
}